.post-content > :last-child {
  margin-bottom: 0;
}


article,
.comments, footer, post-nav  {
  // @extend %padding-regular;
  border-bottom: 1px solid $border-color;
  // float: left;
  // width: 100%;
  // margin: auto;
  margin: 0 auto;
  max-width: 750px;
  width: 80%;
}

article {
  .subtitle {
    font-size: 1.45em;
    font-weight: normal;
    margin: 0;
  }
  header {
    margin-bottom: 6%;
    text-align: center;
  }
  a {
    @extend .body-link;
  }
  .footnotes {
    font-size: 0.9em;
  }
}
header {
  h1 {
    margin: 0;
  }
}
.meta {
  color: rgba($text-color, .5);
  font-size: 0.9em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}
.feature-image {
  padding: 0%;
  .post-link {
    color: $feature-image-text-color;
  }
  header {
    color: $feature-image-text-color;
    background-size: $feature-image-size;
    margin-bottom: 0;
    padding: $padding-large/2.5 $padding-large;
    .meta {
      color: rgba($feature-image-text-color, .7);
    }
  }
  .post-content {
    @extend %padding-regular;
  }
}

.posts {
  .post-title{

  	display: inline-block;
  	width: 100%;
  	background-size: cover;
  	font-size: 2em;
  	text-align: center;
  	color: #B0B0B0;
  }
  .post-teaser {

    @extend %padding-regular;
    width: 100%;
    padding: 35px 30% 35px 30%;
    display: inline-block;
    border-bottom: 1px solid $border-color;
    text-align: justify;
  }
}
// Pagination
.pagination .button {
  i {
    vertical-align: middle;
  }
}
.pagination {
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.post-type-tag {
  margin: 40px 0;
}

.post-type{
  color: #8565fc;
  font-size: 18px;
  font-family: "Source Sans Pro",sans-serif;
  font-weight: 600;
  padding: 0 0 20px 0;
}

article header .title{
  padding: 0 0 12px 0;
  font-weight: 700;
  font-size: 32px;
  font-family: "Source Sans Pro","APPLE SD Gothic Neo",HelveticaNeue,Helvetica,"NanumGothic","맑은 고딕","Malgun Gothic",arial,sans-serif;
  line-height: 1.2;
  letter-spacing: -0.009em;
}

article header .subtitle{
  padding: 0 0 10px 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.5;
}

article header .meta{
  padding: 0 0 50px 0;
  font-weight: 400;
  font-size: 20px;
  color: #90949a;
  line-height: 1.5;
}

